[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

slow_query_log                = 1
slow_query_log_file           = /var/log/mariadb/slow.log
long_query_time               = 0
log-queries-not-using-indexes = 1

# https://qiita.com/mamy1326/items/9c5eaee3c986cff65a55 を参考

# InnoDBのデータとインデックスをキャッシュするバッファのサイズ (推奨は物理メモリの8割)
# インスタンスのメモリを `free -m` で見たら 992 だったのでこれぐらいに。
innodb_buffer_pool_size=512M

# コミットされていないトランザクションのためのバッファのサイズ
innodb_log_buffer_size=32M

# InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_log_file_size=128M

# データやインデックスを共有ではなくテーブル個別に保存する
innodb_file_per_table=1

# クエリキャッシュ最大サイズ
query_cache_limit=4M

# クエリキャッシュで使用するメモリサイズ
query_cache_size=64M

# クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1

# インデックス未使用でのJOIN時に使用するバッファ
join_buffer_size=256K

# クライアントからサーバーに送信できるパケットの最大長
max_allowed_packet=8M

# フルスキャンのレコードバッファ
read_buffer_size=1M

# キーを使用したソートで読み込まれた行がキャッシュされるバッファ
read_rnd_buffer_size=2M

# ソート時に使用されるバッファ
sort_buffer_size=4M

# MEMORYテーブルの最大サイズ。このサイズを超えたMEMORYテーブルはディスク上に作成
max_heap_table_size=16M

# スレッド毎に作成される一時的なテーブルの最大サイズ。スレッドバッファ
tmp_table_size=16M

# スレッドキャッシュ保持最大数
thread_cache_size=100

# コネクションタイムアウト時間
wait_timeout=30

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

# BEGIN ANSIBLE MANAGED BLOCK mariadb
[mysqld]
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
# END ANSIBLE MANAGED BLOCK mariadb
